body {
    font-family: 'Quicksand', sans-serif;

    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    margin: 0;
}

h3 {
    color: #2F4F3E;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
} 

header {
    background-color: #2F4F3E;
    color: white;
    font-size: 18px;
    position: sticky;
    top: 0;
    z-index: 9999;
    
    margin-inline: auto;
    padding:5px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .navlist ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    padding-inline: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}

nav a:hover {
    color: black;
}

.uno {
    position: relative;
    height: 90vh;
    background-image: url("../assets/background.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.45);
}

.isi {
    position: relative;
    text-align: center;
    color: white;
    max-width: 700px;
    padding: 15px;
}

.isi h2 {
    font-size: 4rem;
    font-style: italic;
    margin-bottom: 1rem;
}

.isi p {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 3rem;
}

.satu {
    padding: 1rem 2rem;
    border-radius: 100px;
    background-color: #6B8E6E;
    
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
 
    cursor: pointer;
    transition: all 0.15s ease-in;
}

.satu{
    background-color: #6B8E6E;
    color: white;
    text-decoration: none;
}

.satu:hover {
    background-color: #92af94;
    font-weight: bolder;
}

.dua {
    padding: 1rem 2rem;
    border-radius: 100px;
    margin-left: 3rem;
    background-color: #6B8E6E;
    
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
 
    cursor: pointer;
    transition: all 0.15s ease-in;
}

.dua{
    background-color: #6B8E6E;
    color: white;
    text-decoration: none;
}

.dua:hover {
    background-color: #92af94;
    font-weight: bolder;
}

footer {
    padding: 5px;
    color: white;
    background-color:#6B8E6E;

    text-align: center;
    font-weight: bold;
}

main aside .contact-us {
    height: 100%;
    display: flex;
}

.propertyimage {
    width: 100%;
    max-height: 300px;
    max-width: 300px;

    object-fit: cover;
    object-position: center;
    align-content: space-around;
}

.aucontent {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
}

.dos {
    padding: 3rem 2rem;
}

.dos .logo {
    width: 100%;
    max-height: 300px;
    max-width: 300px;
}

.aucontent p {
    text-align: justify;
    flex: 1;
    max-width: 5000px;
    font-size: 1.2rem;
}

.card {
    background-color: #2F4F3E;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);    
    
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;

}

.card img {
    display: block;
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
    margin: auto;
}

.kard {
    color: white;
    font-style: oblique;
    font-size: 1.2rem;
    font-weight: 900;
    text-align: center;
}

.card p {
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
    padding: 1rem 2rem;
}

.service {
    padding: 0.5rem 1rem;
    background-color: #2F4F3E;
}

.ss {
    color: white;
}

.cardtwo {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);    
    border-radius: 30px;

    display: flex;
    flex-direction: column;

    align-items: center;

    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

h4 {
    color: #2F4F3E;
    font-size: 1.2rem;
    font-weight: bold;
}

.cardtwo img {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    margin: auto;
}

.cardtwo p {
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
    padding: 1rem 2rem;
}

.separator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 700px;
    margin: auto;
}

main aside {
  position: fixed;
  inset-block: 0;
  inset-inline-end: 0;
}

main aside .contact-us {
    height: 100%;
    display: flex;
}

main aside .contact-us ul{
    padding: 1rem 0.5rem;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    margin: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

main aside .contact-us li{
    list-style-type: none;
}

main aside .contact-us li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    transition: all 0.1s ease-in-out;
}

main aside .contact-us li a:hover{
    color: #6B8E6E;
}

.asf {
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
}
